<div class="container-sm text-center border mt-4 p-4">

  <% if @weather[:status] == "error" %>
    <p>Could not fetch weather right now, please try again later. :(</p>
  <% elsif @weather[:status] == "not_found" %>
    <p>Could not find location</p>
    <p><%= params[:query] %></p>
  <% else %>
    <p>Current weather for: <%= params[:query] %></p>

    <h2><%= @weather[:current_temperature] %>° F</h2>
    <p class="fs-3 text"><%= @weather[:weather_description] %></p>

    <% if @location[:postal_code].present? %>
      <p><em>Weather data for <%= @location[:postal_code] %> (<%= @location[:country] %>) last fetched <%= time_ago_in_words(@weather[:updated_at]) %> ago.</em></p>
    <% else %>
      <p><em>Displaying weather data for <%= @location[:display_name] %> (<%= @location[:latitude] %>, <%= @location[:longitude] %>).</em></p>
    <% end %>
  <% end %>

  <%= link_to "Search Again", root_path, class: "btn btn-primary" %>
</div>
